.header {
  width: 1440px;
  display: flex;
  height: 100px;
  left: 0px;
  top: 0px;

  margin-left: 340px;

  /* Nitro White */
  background: #ffffff;

  /* Nitro Shadow */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.header__logo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  top: 20px;
}
