.filter__container {
  
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-top: 40px;
  align-items: baseline;
  margin-right: 25rem;
  margin-left: 90rem;
}

.filter__svg {
  margin-right: 0.5rem;
  
}

.filter__dropdown {
  background-color: white;
  border-color: white;
  border-top: white;
  border-left: white;
  

}
