.table__container {
  display: inline-flex;
  flex-direction: column;
  width: 1050px;
  height: 676px;
  margin-left: 500px;
  margin-top: 40px;

  /* Nitro White */
  background: #ffffff;

  /* Nitro Border */
  border: 1px solid #e4e4e7;

  /* Nitro Shadow */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.header__container {
  height: 50px;
  background: #f4f5f7;
  width: 100%;
  justify-content: space-between;
}

.header__No {
  font-weight: 300;
  margin-left: 25px;
}

.header__LaunchedUTC {
  margin-left: 70px;
  flex-basis: auto;
  font-weight: 300;
}

.header__Location {
  margin-left: 120px;
  font-weight: 300;
  flex-basis: auto;
}

.header__Mission {
  margin-left: 80px;
  font-weight: 300;
  flex-basis: auto;
}

.header__Orbit {
  margin-left: 140px;
  font-weight: 300;
  flex-basis: auto;
}

.header__Launch {
  margin-left: 50px;
  font-weight: 300;
  flex-basis: auto;
}

.header__Rocket {
  margin-left: 55px;
  font-weight: 300;
  flex-basis: auto;
}
.row__container {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 15px;
  align-items: flex-start;
  height: 50px;
}

.row__container1 {
  display: flex;
  flex-direction: row;
  position: static;
  height: 52px;
}

.table__navigator {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 1310px;
}
.button {
  background-color: white;
  width: 40px;
  height: 40px;
}

.column__No {
  margin-top: 10px;
  flex-basis: 50px;
  align-items: center;
  margin-left: 30px;
  font-size: small;
}

.column__LaunchedUTC {
  margin-top: 10px;
  flex-basis: 180px;
  font-size: small;
  margin-left: 30px;
}

.column__Location {
  margin-top: 10px;
  flex-basis: 100px;
  font-size: small;
  margin-left: 50px;
}

.column__Mission {
  margin-top: 10px;
  flex-basis: 150px;
  font-size: small;
  margin-left: 50px;
}

.column__Orbit {
  margin-top: 10px;
  flex-basis: 60px;
  font-size: small;
  margin-left: 50px;
}
.column__Success {
  margin-top: 10px;
  flex-basis: 80px;
  font-size: small;
  margin-left: 50px;
  color: #03543f;
  background: #def7ec;
  border-radius: 20px;
  padding: 4px 12px;
  position: absolute;
  margin-left: 800px;
  
}

.column__Failed {
  margin-top: 10px;
  flex-basis: 80px;
  font-size: small;
  padding: 4px 12px;
  color: #981b1c;
  background: #fde2e1;
  border-radius: 20px;
  position: absolute;
  margin-left: 805px;
  
}

.column__Upcoming {
  margin-top: 10px;
  flex-basis: 80px;
  font-size: small;
  margin-left: 50px;
  color: #92400f;
  background: #fef3c7;
  border-radius: 20px;
  position: absolute;
  padding: 4px 12px;
  margin-left: 794px;
}

.column__Rocket {
  margin-top: 10px;
  flex-basis: 60px;
  font-size: small;
  margin-left: 180px;
}

.text__center {
  margin-left: 350px;
  font-weight: 300;
}
